<nav class="top-bar" data-topbar role="navigation" data-options="mobile_show_parent_link: false">

	<ul class="title-area">
		<li class="name">
			<h1><a href="/">Key Manager</a></h1>
		</li>
		<li class="toggle-topbar menu-icon">
			<a href="#"><span>Menu</span></a>
		</li>
	</ul>

	<section class="top-bar-section">

		<!-- Left Nav Section -->
		<ul class="left">

			{% if key_lists is defined and key_lists|length > 0 %}
			<li class="has-dropdown">
				{% if list is defined %}
				<a href="#">{{ list }}</a>
				{% else %}
				<a href="#">Choose Key Lists</a>
				{% endif %}
				<ul class="dropdown">
					{% for key_list in key_lists %}
					{% if list is defined and list == key_list.name %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
						<a href="/listkeys/{{ key_list.name }}">{{ key_list.name }}</a>
					</li>
					{% endfor %}
				</ul>
			</li>
			{% endif %}

		</ul>
		
		<!-- Right Nav Section -->
		<ul class="right">

			{% if list is defined %}
			{% if getkeys is defined %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="/getkeys/{{ list }}">Get Keys</a>
			</li>
			{% if listkeys is defined %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="/listkeys/{{ list }}">List Keys</a>
			</li>
			{% endif %}

		</ul>
		
	</section>

</nav>