<nav class="top-bar" data-topbar role="navigation" data-options="mobile_show_parent_link: false">

	<ul class="title-area">
		<li class="name">
			<h1><a href="/">Key Manager</a></h1>
		</li>
		<li class="toggle-topbar menu-icon">
			<a href="#"><span>Menu</span></a>
		</li>
	</ul>

	<section class="top-bar-section">

		<!-- Left Nav Section -->
		<ul class="left">

			{% if lists is defined and lists|length > 0 %}
			<li class="has-dropdown">
				{% if datafilename is defined %}
				<a href="#">{{ datafilename }}</a>
				{% else %}
				<a href="#">Choose Key Lists</a>
				{% endif %}
				<ul class="dropdown">
					{% for list in lists %}
					{% if datafile is defined and datafile == list.name %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
						<a href="{{ list.link }}">{{ list.filename }}</a>
					</li>
					{% endfor %}
				</ul>
			</li>
			{% endif %}

		</ul>
		
		<!-- Right Nav Section -->
		<ul class="right">

			{% if datafile is defined %}
			{% if getkeys is defined %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="/getkeys/{{ datafile }}">Get Keys</a>
			</li>
			{% if listkeys is defined %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="/listkeys/{{ datafile }}">List Keys</a>
			</li>
			{% endif %}

		</ul>
		
	</section>

</nav>